<h1>Listing sabores</h1>

<table>
  <tr>
    <th>Sabor1</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sabores.each do |sabor| %>
  <tr>
    <td><%= sabor.sabor1 %></td>
    <td><%= link_to 'Show', sabor %></td>
    <td><%= link_to 'Edit', edit_sabor_path(sabor) %></td>
    <td><%= link_to 'Destroy', sabor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sabor', new_sabor_path %>
