<h2 id="cosa"> Lista de Promociones</h2>
<div id="listapromo">

<table>
  <tr>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @promociones.each do |promocion| %>
  <tr>
    <td><%= promocion.titulo %></td>
    <td><%= promocion.descripcion %></td>
    <td><%= link_to 'Show', promocion %></td>
    <td><%= link_to 'Edit', edit_promocion_path(promocion) %></td>
    <td><%= link_to 'Destroy', promocion, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Promocion', new_promocion_path %>

</div>




