
<div id="contenido">
		<div id="contenido1">
			<div id="header"><div class="wrap">
   				<div id="slide-holder">
					<div id="slide-runner">
					    <img id="slide-img-1" <%= image_tag "img1.jpg"%> class="slide" alt="" />
						<img id="slide-img-2" <%= image_tag "img2.jpg"%> class="slide" alt="" />
					    <img id="slide-img-3" <%= image_tag "img3.jpg"%> class="slide" alt="" />
					    <img id="slide-img-4" <%= image_tag "img4.jpg"%> class="slide" alt="" />
					    <img id="slide-img-5" <%= image_tag "img1.jpg"%> class="slide" alt="" />
					    <img id="slide-img-6" <%= image_tag "img2.jpg"%> class="slide" alt="" />
						<img id="slide-img-7" <%= image_tag "img3.jpg"%> class="slide" alt="" />
						    <div id="slide-controls">
						     <p id="slide-client" class="text"><strong></strong><span></span></p>
						     <p id="slide-desc" class="text"></p>
						     <p id="slide-nav"></p>
						    </div>
					</div>
				
	
	<!--content featured gallery here -->
   				</div>
  			 <script type="text/javascript">
   			 if(!window.slider) var slider={};slider.data=[{"id":"slide-img-1","client":"Pasteles de la Temporada","desc":"Tu mejor opcion para las fiestas."},{"id":"slide-img-2","client":"Pasteles de tu Deporte","desc":"Tu mejor opcion para las fiestas."},{"id":"slide-img-3", "client":"Pasteles para los ninos","desc":"Tu mejor opcion para las fiestas."},{"id":"slide-img-4","client":"Pasteles de la Temporada","desc":"Tu mejor opcion para las fiestas."},{"id":"slide-img-5","client":"Pasteles de la Temporada","desc":"Pasteles para tu Deporte."},{"id":"slide-img-6","client":"Pasteles de la Temporada","desc":"Tu mejor opcion para las fiestas."},{"id":"slide-img-7","client":"Pasteles de la Temporada","desc":"Tu mejor opcion para las fiestas."}];
   			 </script>
   			 </div>
   			</div>
		</div>
		<h2 id="cosa2"> Promociones</h2>
		
		
		<div id="contenido2">
			
		</div>
	</div>
	
