
<div id="contenido">
		<div id="contenido1">
			<div id="header"><div class="wrap">
   				<div id="slide-holder">
					<div id="slide-runner">
					    <img id="slide-img-1" <%= image_tag "img1.jpg"%> class="slide" alt="" />
						<img id="slide-img-2" <%= image_tag "img2.jpg"%> class="slide" alt="" />
					    <img id="slide-img-3" <%= image_tag "img3.jpg"%> class="slide" alt="" />
					    <img id="slide-img-4" <%= image_tag "img4.jpg"%> class="slide" alt="" />
					    <img id="slide-img-5" <%= image_tag "img1.jpg"%> class="slide" alt="" />
					    <img id="slide-img-6" <%= image_tag "img2.jpg"%> class="slide" alt="" />
						<img id="slide-img-7" <%= image_tag "img3.jpg"%> class="slide" alt="" />
						    <div id="slide-controls">
						     <p id="slide-client" class="text"><strong>post: </strong><span></span></p>
						     <p id="slide-desc" class="text"></p>
						     <p id="slide-nav"></p>
						    </div>
					</div>
				
	
	<!--content featured gallery here -->
   				</div>
  			 <script type="text/javascript">
   			 if(!window.slider) var slider={};slider.data=[{"id":"slide-img-1","client":"nature beauty","desc":"nature beauty photography"},{"id":"slide-img-2","client":"nature beauty","desc":"add your description here"},{"id":"slide-img-3","client":"nature beauty","desc":"add your description here"},{"id":"slide-img-4","client":"nature beauty","desc":"add your description here"},{"id":"slide-img-5","client":"nature beauty","desc":"add your description here"},{"id":"slide-img-6","client":"nature beauty","desc":"add your description here"},{"id":"slide-img-7","client":"nature beauty","desc":"add your description here"}];
   			 </script>
   			 </div>
   			</div>
		</div>
		<div id="contenido2">
			<h2> Promociones</h2>
		</div>
	</div>
	
<%= image_tag "img1.jpg"%>