<h2 id="cosa">Lista de Productos</h2>
<div id="listacomida">

<table>
  <tr>
    <th>Titulo</th>
    <th>Categoria</th>
    <th>Sabor</th>
    <th>Precio</th>
    <th>Descripcion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comidas.each do |comida| %>
  <tr>
    <td><%= comida.titulo %></td>
    <td><%= comida.categoria %></td>
    <td><%= comida.sabor %></td>
    <td><%= comida.precio %></td>
    <td><%= comida.descripcion %></td>
    <td><%= link_to 'Show', comida %></td>
    <td><%= link_to 'Edit', edit_comida_path(comida) %></td>
    <td><%= link_to 'Destroy', comida, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @comidas %>
<br />

<%= link_to 'New Comida', new_comida_path %>


</div>

